{
  "root": true,
  "extends": ["@frontify/eslint-config-react"],
  "settings": {
    "react": {
      "version": "detect"
    },
  },
  "parserOptions": {
    "project": ["./tsconfig.json", "./tsconfig.node.json"]
  },
  "rules": {
    "semi": ["off"],
    "semi-spacing": ["off"],
    "no-extra-semi": ["off"],
    "comma-dangle": ["off"],
    "import/order": ["off"]
  },
}
